.navbar{
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
  z-index: 10;
  background-color: #fefaf5;
}

.navbar-brand img{
  width: 75px;
  height: auto;
}

.navbar-brand:hover img{
  animation: jiggle 1.3s;
}

.navbar-nav{
  margin-left: auto;
}

.nav-link{
  font-family: 'Bungee Hairline', sans-serif;
  color: #4f838d !important;
  font-size: 14px;
  line-height: 1;
  font-weight: bold !important;
}

.nav-link:hover{
  text-decoration: underline;
}


@keyframes jiggle {
  10%, 90% {
    transform: rotate(5deg);
  }

  20%, 80% {
    transform: rotate(-5deg);
  }

  30%, 50%, 70% {
    transform: rotate(10deg);
  }

  40%, 60% {
    transform: rotate(-10deg);
  }
}

body{
  background-color: #fefaf5;
}

.lake-bg{
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/images/lake-home.jpg");
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  padding-top: 100px;
}

.lake-bg .container{
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

h1{
  font-family: 'Bungee Shade', sans-serif;
  color: #213336;
  font-size: 60px;
  letter-spacing: 0.05em;
   margin-bottom: 1.5rem;
}

h2{
  font-family: Bungee, sans-serif;
  color: #213336;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: none;
}

p{
  font-family: 'Cormorant', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 1.3rem;
}

p a{
  color: #4f838d;
  font-weight: 700;
  text-decoration: underline;
}

p a:hover{
  color:#536e73;
  font-style: italic;
}

.lake-bg h1{
  font-size: 76px;
  letter-spacing: 0.05em;
}

.lake-bg h2{
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: none;
}