.navbar{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fefaf5;
  margin-bottom: 2rem;
}

.navbar-brand img{
  width: 75px;
  height: auto;
}

.navbar-brand:hover img{
  animation: jiggle 1.3s;
}

.navbar-nav{
  margin-left: auto;
}

.nav-link{
  font-family: 'Bungee', sans-serif;
  color: #0a7e8c !important;
  font-size: 12px;
  line-height: 1;
}

.nav-link:hover{
  color:#086570 !important;
  text-decoration: underline;
}

.navbar-toggler{
  border: none !important;
}


@keyframes jiggle {
  10%, 90% {
    transform: rotate(5deg);
  }

  20%, 80% {
    transform: rotate(-5deg);
  }

  30%, 50%, 70% {
    transform: rotate(10deg);
  }

  40%, 60% {
    transform: rotate(-10deg);
  }
}

body{
  background-color: #fefaf5;
}

.lake-bg{
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/images/lake-home.jpg");
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  padding-top: 100px;
}

.lake-bg .container{
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

h1{
  font-family: 'Bungee Shade', sans-serif;
  color: #213336;
  font-size: 55px;
  letter-spacing: 0.05em;
   margin-bottom: 1.5rem;
}

h2{
  font-family: Bungee, sans-serif;
  color: #213336;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: none;
}

h3{
  font-family: Bungee, sans-serif;
  color: #213336;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.1em;
}

p{
  font-family: 'Cormorant', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 1.3rem;
}

p a{
  color: #0a7e8c;
  font-weight: 700;
  text-decoration: none;
}

p a:hover{
  color:#086570;
}

.lake-bg h1{
  font-size: 76px;
  letter-spacing: 0.05em;
}

.lake-bg h2{
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: none;
}

.sparkle {
 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(../assets/images/glitter.gif) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
}

/*MASONRY GRID*/
.grid-sizer,
.grid-item {
  width: 20%;
}
/* 2 columns */
.grid-item--width2 {
  width: 40%;
}

.grid-item img{
  padding:10px;
}

@media (max-width: 767.98px) {
  .navbar-expand-md .navbar-nav{
    background-color: #fefaf5;
    text-align: center;
  }
}
